.addNewCards {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
    background: linear-gradient(to right, #AEB877, #D8E983);
    color: #FFFBF1;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 10px 15px -3px rgba(174, 184, 119, 0.2), 0 4px 6px -2px rgba(174, 184, 119, 0.1);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.addNewCards:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #D8E983, #AEB877);
    box-shadow: 0 20px 25px -5px rgba(174, 184, 119, 0.3), 0 10px 10px -5px rgba(174, 184, 119, 0.2);
}